header {
    background-image: url('../assets/backgrounds/h_img.jpg');
    text-align: center;
    background-size: 100% 100%;
    color: white;
    background-image: min-height: 300px;
}

legend {
    text-align: center;
}

fieldset p {
    text-align: center;
}